@tailwind base;
@tailwind components;
@tailwind utilities;

.logo {
  /* Establece una duración y tipo de animación */
  animation: girar 3s linear infinite;
}

@keyframes girar {

  /* Define la animación de rotación */
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

